services:
  database:
    build:
      context: .
      dockerfile: docker/python.Dockerfile
      target: database
      args:
        USE_PROXY: "${USE_PROXY:-false}"
        HTTP_PROXY: "${HTTP_PROXY:-}"
        HTTPS_PROXY: "${HTTPS_PROXY:-}"
        NO_PROXY: "${NO_PROXY:-}"
    container_name: sop-database
    working_dir: /app
    env_file:
      - .env
    environment:
      CONFIG_DIR: /config
      LOG_DIR: /logs
      DATA_DIR: /data/survey.db
      DATA_DIR_QUESTIONS: /config/sop_questions_0_5.json
      PREVIEW_DIR: /data/previews/
    volumes:
      - ./config:/config
      - ./data:/data
      - ./logs:/logs

  identify:
    build:
      context: .
      dockerfile: docker/python.Dockerfile
      target: identify
      args:
        USE_PROXY: "${USE_PROXY:-false}"
        HTTP_PROXY: "${HTTP_PROXY:-}"
        HTTPS_PROXY: "${HTTPS_PROXY:-}"
        NO_PROXY: "${NO_PROXY:-}"
    container_name: sop-identify
    working_dir: /app
    env_file:
      - .env
    environment:
      CONFIG_DIR: /config
      LOG_DIR: /logs
      DATA_DIR: /data/survey.db
      DATA_DIR_QUESTIONS: /config/sop_questions_0_5.json
      PREVIEW_DIR: /data/previews/
    volumes:
      - ./config:/config
      - ./data:/data
      - ./logs:/logs
    ports:
      - "${SOP_UUI_PORT}:${SOP_UUI_PORT}"
    depends_on:
      - database
      - ui
    restart: unless-stopped

  ui:
    build:
      context: .
      dockerfile: docker/python.Dockerfile
      target: ui
      args:
        USE_PROXY: "${USE_PROXY:-false}"
        HTTP_PROXY: "${HTTP_PROXY:-}"
        HTTPS_PROXY: "${HTTPS_PROXY:-}"
        NO_PROXY: "${NO_PROXY:-}"
    container_name: sop-ui
    working_dir: /app
    env_file:
      - .env
    environment:
      CONFIG_DIR: /config
      LOG_DIR: /logs
      DATA_DIR: /data/survey.db
      DATA_DIR_QUESTIONS: /config/sop_questions_0_5.json
      PREVIEW_DIR: /data/previews/
    volumes:
      - ./config:/config
      - ./data:/data
      - ./logs:/logs
    expose:
      - "${SOP_UI_PORT}"
    depends_on:
      - database
    restart: unless-stopped
